<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MODULE_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(MODULE_VERSION)</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>SimpleMtkBtFw_MediaTek_Generic</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>bDeviceClass</key>
			<integer>224</integer>
			<key>bDeviceProtocol</key>
			<integer>1</integer>
			<key>bDeviceSubClass</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>3725</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7921_0489_e0c8</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57544</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7921_0489_e0cd</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57549</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7921_0489_e0e0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57568</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7921_0489_e0f2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57586</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7921_04ca_3802</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>14338</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7921_0e8d_0608</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>1544</integer>
			<key>idVendor</key>
			<integer>3725</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7921_13d3_3563</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13667</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7921_13d3_3564</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13668</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7921_13d3_3567</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13671</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7921_13d3_3576</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13686</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7921_13d3_3578</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13688</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7921_13d3_3583</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13699</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7921_13d3_3606</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13830</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922_13d3_3585</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13701</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922_13d3_3610</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13840</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e0d8</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57560</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e0d9</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57561</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e0e2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57570</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e0e4</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57572</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e0f1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57585</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e0f2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57586</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e0f5</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57589</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e0f6</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57590</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e102</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57602</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e11d</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57629</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e152</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57682</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e153</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57683</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e170</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57712</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_0489_e174</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57716</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_04ca_3804</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>14340</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_04ca_3807</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>14343</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_04ca_38e4</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>14564</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_13d3_3568</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13672</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_13d3_3584</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13700</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_13d3_3605</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13829</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_13d3_3607</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13831</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_13d3_3614</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13844</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_13d3_3615</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13845</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_13d3_3633</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13875</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>SimpleMtkBtFw_MT7922A_35f5_7922</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>SimpleMtkBtFw</string>
			<key>IOMatchCategory</key>
			<string>SimpleMtkBtFw</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>31010</integer>
			<key>idVendor</key>
			<integer>13813</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 zxystd. Copyright © 2021 MediaTek Inc. Copyright © 2026 laobamac. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.2</string>
		<key>com.apple.kpi.iokit</key>
		<string>16.7</string>
		<key>com.apple.kpi.libkern</key>
		<string>16.7</string>
		<key>com.apple.kpi.mach</key>
		<string>16.7</string>
	</dict>
</dict>
</plist>
